# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
- To get an overview of code and markdown cells
- To execute an existing code cell
- To insert and delete a code cell
- To write comments in Python
- To create and use markdown cells

## Author:
Hakan Cetinkaya

### Some of the popular languages that Data Scientists use are::
### 1 - Pyton
### 2 - R
### 3 - Java

### Some of the commonly used libraries used by Data Scientists include:
### 1-Pandas
### 2-NumPy
### 3-Spark

| Data Science Tools |
| -------------
| MySQL
| Apache Airflow
| Apache Spark

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335